$banner-height: 550px;

.bg-get {
    background-image: url('/assets/img/outsourcing/outsorcingbanner.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: $banner-height;
}